html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;

}

.background-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: url(pictures/backpic2.jpg);
    z-index: -100;

}

.naviPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75vh;
    width: 60vw;
    background-color: #75638b;
    color: #dac291;
    margin: auto;
    margin-top: 20px;
    border: 40px solid;
    border-image-source: url(pictures/border.png);
    border-image-slice: 70;
    z-index: 5;
}
#nameDisp{
    font-size: 6rem;
    margin-top: -5rem;
    margin-left: 1rem;
}

#description{
    font-size: 2.5rem;
    margin-top: -4rem;
    margin-left: 1rem;
}

.links{
    display: flex;
    justify-content: space-evenly;
}

.neonBtn{
    font-size: 2rem;
    justify-self: center;
    text-align: center;
    align-self: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #dac291;
    border:#dac291 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100%/0.3),
    0 0 0.25em #dac291;

    box-shadow:inset 0 0 0.5em 0 #dac291,
    0 0 0.5em 0 #dac291;

    position: relative;

    transition: background-color 100ms linear;
    z-index: 4;
}

.neonBtn::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background:#dac291;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(30deg)
    scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;
}

.neonBtn::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em #dac291;
    opacity: 0;
    transition: opacity 100ms linear;
}

.neonBtn:hover, .neonBtn:focus{
    background: #dac291;
    color: #75638b;
    text-shadow: none;
}

.neonBtn:hover::before{
    opacity: 1;
}

.neonBtn:hover::after{
    opacity: 1;
}


.introPage{
    display: grid;
    grid-template-rows: 2.5fr 6fr 5fr;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    height: 100vh;
    width: 100vw;
    column-gap: 3vw;
    background-image: url(pictures/bg3.gif);
    margin-top: 140px;
    z-index: 3;
}

#pic{
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#aboutme{
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    color: #A6E4FF;
    font-family: 'Montserrat', sans-serif;
}

#aboutme2{
    grid-area: 3 / 2 / 4 /4;
    justify-self: center;
    align-self: center;
    font-size: 1.75rem;
    color: #FFFDD9;
    font-family: 'Montserrat', sans-serif;
}


.socialsPage{
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    height: 100vh;
    width: 100vw;
    background-image: url(pictures/bg4.jpg);
    color: #dbd3d8;
    z-index: 9;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons .fa-facebook:hover{
    transform: scale(1.10);
}

#contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    align-self: flex-end;
}


.contact-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

@media(prefers-reduced-motion){
    .hidden{
        transition:none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



.projectsPage{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 0.75fr 1fr 1fr;
    column-gap: 70px;
    row-gap: 5vw;
    height: 100vh;
    width: 100vw;
    background-image: url(pictures/bg5.avif);
    margin: 0;
    padding: 0;
    z-index: 8;
}

#portfolio{
    grid-area: 1/2/2/4;
    justify-self: center;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

#ambiTag{
    /*border: firebrick 0.45em solid;*/
    padding: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    grid-area: 2/2/3/3;
    justify-self: center;
    align-self: center;
}


#websiteTag{
    /*border: seagreen 0.45em solid;*/
    padding: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    grid-area: 2/3/3/4;
    justify-self: center;
    align-self: center;
}


#about-ambisphere{
    grid-area: 3/2/4/3;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    align-self: center;
}


#about-website{
    grid-area: 3/3/4/4;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    align-self: self-start;
}


.neomorphicBtn{
    border: none;
    border-radius: 50px;
    background-image: url(pictures/bg5.avif);
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.7);

}

.neomorphicBtn.webTag{
    background-image: url(pictures/bg5.avif);
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
            inset -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

@media(max-width:530px){
    .icons{
        font-size: 10px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    .contact-card-info{
        font-size: 1.25rem;
    }

    #contact-me{
        font-size: 2rem;
    }
}

@media(max-width:600px){
    .projectsPage{
        height: 250vw;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
        column-gap: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #ambiTag{
        grid-area: 2/2/3/4;
        font-size: 3.75vw;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #about-ambisphere{
        grid-area: 3/2/4/4;
        font-size: 3.75vw;
        align-self: self-start;
    }

    #about-website{
        grid-area: 5/2/6/4;
        align-self: self-start;
        font-size: 3.75vw;
    }

    #websiteTag{
        grid-area: 4/2/5/4;
        font-size: 5vw;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:1040px){
    .introPage{
        height: 170vw;
        grid-template-rows: 25% 35% 40%;
    }
    #aboutme{
        font-size: 3.75vw;
        grid-area: 2/2/3/4;
    }
    #aboutme2{
        font-size: 3.5vw;
    }
    #pic{
        margin-top: 10px;
        grid-area: 1/2/2/4;
    }
}


@media(max-width:1460px){
    .naviPage{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 20% 65%;
    }

    #nameDisp{
        font-size: 4rem;
        justify-self: center;
        grid-area: 2/1/3/2;
    }

    #description{
        grid-area: 3/1/4/2;
        font-size:2rem;
    }

    .neonBtn{
        font-size: 1.5rem;
    }
    .links{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        grid-area: 3/1/4/2;
        
    }
}

@media(max-width:1146px) {
    .naviPage{
        height: 110vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 20% 65%;
    }

    #nameDisp{
        font-size: 6vw;
        grid-area: 2/1/3/2;
        justify-content: center;
    }

    #description{
        grid-area: 3/1/4/2;
        font-size:3vw;
    }

    .neonBtn{
        font-size: 2.6vw;
    }
    .links{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        grid-area: 3/1/4/2;
        
    }

@media(max-width:778px){
    #nameDisp{
        margin-top: -2rem;
    }
}
}